.Typer {
	/* background: #272727; */
	color: white;

	width: 60vw;

	max-width: 480px;
	
	margin: 10vh auto 0 auto;
	padding: 48px;
}

.Typer > h1 {
	color: white;
	margin: 0
}

.TyperTextArea .textToType {
	background: none;
	border: none;

	color: #ffffff;

	resize: none;

	width: 100%;
	height: 128px;

	padding: 12px;
}

.TyperTextArea .author {
	color: #ffffffb0;
	text-align: right;
}

.TyperTextArea .userInput {
	background: none;
	border: 2px solid;

	color: #ffffff;

	resize: none;

	width: 100%;
	height: 48px;

	padding: 12px;

	transition: border-color 0.1s ease-in-out;
}

.TyperTextArea .pangramButton {
	margin-top: 8px;

	cursor: pointer;
}